body{
    margin: 0;
    padding: 0;
}

.menu{
    max-width: 1000px;
    margin: 0 auto;
}

.nav-area{
    user-select: none;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    transition: top .6s;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
}

.logo{
    color: #fff;
    user-select: none;
    display: inline-block;
    margin: 0;
}

.logo a{
    text-decoration: none;
    color: #fff;
    font-size: 42px;
    font-family: 'Bebas Neue', cursive;
}

.menu nav{
    float: right;
}

.right-nav{
    user-select: none;
    overflow: hidden;
    list-style: none;
}

.right-nav li{
    float: left;
    margin-left: 30px;
}

.right-nav li a{
    transition: 0.2s;
    color: #fff;
    text-decoration: none;
    font: caption;
    font-size: 16px;
    text-transform: uppercase;
}

.right-nav li a:hover{
    transition: 0.2s;
    color: rgb(160, 0, 0);
    opacity: 0.7;
}

.banner{
    height: 100vh;
    background-image: url(Marvel.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.main-text{
    max-width: 1000px;
    margin: 100px auto 0;
}

.main-text h2{
    padding-left: 10px;
    border-left: 5px solid black;
    font-size: 56px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(118, 0, 0);
}

.main-text p{
    font: normal;
    font-size: 18px;
    line-height: 2;
}

.main-text p::first-letter{
    font-size: 150%;
}

.nav-area.animate{
    top: -80px;
}

.nav-area.sticky{
    top: 0;
    z-index: 99;
}

.top-nav{
    user-select: none;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0;
    width: 100%;
    top: -400px;
    transition: 0.6s;
    left: 0;
    position: fixed;
    list-style: none;
    overflow: hidden;
}

.top-nav li{
    margin-top: 34px;
}

.top-nav li a:hover{
    transition: 0.4s;
    color: rgb(160, 0, 0);
    opacity: 0.7;
}

.top-nav li:first-child{
    margin-top: 20px;
}

.top-nav li a:first-child{
    cursor: pointer;
}

.top-nav li:last-child{
    margin-bottom: 20px;
}

.top-nav li a{
    transition: 0.2s;
    text-decoration: none;
    color: #fff;
    font: caption;
    font-size: 24px;
}

.icon{
    top: -50px;
    color: white;
    text-align: right;
    position: relative;
    overflow: hidden;
    padding: 5px;
}

.icon i{
    transition: 0.2s;
    cursor: pointer;
    font-size: 36px;
}

.icon i:hover{
    transition: 0.2s;
    opacity: 0.6;
}

.top-nav.show{
    top: 68px;
}

.dropdown-menu{
    user-select: none;
    cursor: auto;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 35px;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: center;  
    padding-left: 0;
    padding-right: 16px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.2s ease-in-out 0s, visibility 0s linear 0.2s, z-index 0s linear 0.01s;
}

.dropdown-menu:last-child{
    padding-bottom: 30px;
}

.dropdown-menu li{   
    border-bottom: 2px solid #fff;
    list-style: none;
    padding-top: 30px;
}

.right-nav .dropdown ul li{
    margin-left: 6px;
}

.dropdown-menu li a{
    cursor: pointer;
}

.dropdown{
    cursor: pointer;
}

.dropdown-menu.options{
    visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.1s;
}

.dropdown2-menu{
    user-select: none;
    cursor: auto;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 35px;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: center;  
    padding-left: 0;
    padding-right: 16px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.2s ease-in-out 0s, visibility 0s linear 0.2s, z-index 0s linear 0.01s;
}

.dropdown2-menu:last-child{
    padding-bottom: 30px;
}

.dropdown2-menu li{   
    border-bottom: 2px solid #fff;
    list-style: none;
    padding-top: 30px;
}

.right-nav .dropdown2 ul li{
    margin-left: 6px;
}

.dropdown2-menu li a{
    cursor: pointer;
}

.dropdown2{
    cursor: pointer;
}

.dropdown2-menu.options{
    visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.1s;
}

.movies-dropdown-menu{
    cursor: auto;
    user-select: none;
    background: rgba(0, 0, 0, 0.450);
    position: static;
    display: none;
    padding-left: 14px;
    transition: opacity 1s ease-out;
    opacity: 0;
}

.movies-dropdown a{
    cursor: pointer;
}

.movies-dropdown-menu li{
    margin-top: 20px;
    padding-top: 10px;
}

.movies-dropdown-menu.menu{
    opacity: 1;
    display: block;
}

.movies-dropdown-menu li:last-child{
    margin-bottom: 0;
    padding-bottom: 10px;
}

.movies-dropdown-menu li a{
    cursor: pointer;
    padding-left: 2px;
    border-left: 2px solid #fff;
    font-size: 20px;
}

.series-dropdown-menu{
    cursor: auto;
    user-select: none;
    background: rgba(0, 0, 0, 0.450);
    position: static;
    display: none;
    padding-left: 14px;
    transition: opacity 1s ease-out;
    opacity: 0;
}

.series-dropdown a{
    cursor: pointer;
}

.series-dropdown-menu li{
    margin-top: 20px;
    padding-top: 10px;
}

.series-dropdown-menu.menu{
    opacity: 1;
    display: block;
}

.series-dropdown-menu li:last-child{
    margin-bottom: 0;
    padding-bottom: 10px;
}

.series-dropdown-menu li a{
    cursor: pointer;
    padding-left: 2px;
    border-left: 2px solid #fff;
    font-size: 20px;
}


@media (max-width:768px){
    .large-screens{
        display: none;
    }
}


@media (min-width:769px){
    .small-screens{
        display: none;
    }
}