<div class="d-flex flex-md-row flex-column-reverse gap-4">
  <div class="col-md-6 d-flex justify-content-center">
    <form (ngSubmit)="save(f.value)" #f="ngForm" class="w-100">
      <div class="form-group mb-2">
        <mat-form-field class="w-100">
          <mat-label>Title</mat-label>

          <input
            required
            #title="ngModel"
            [(ngModel)]="series.title"
            name="title"
            matInput
            type="text"
            id="title"
            type="text"
          />
        </mat-form-field>

        <div
          class="alert alert-danger"
          style="margin-top: -18px"
          *ngIf="title.touched && title.invalid"
        >
          Title is required.
        </div>
      </div>

      <div class="form-group mb-3">
        <mat-form-field class="w-100">
          <mat-label>Start Streaming Date</mat-label>
          <input
            required
            id="startStreamingDate"
            name="startStreamingDate"
            #startStreamingDate="ngModel"
            [(ngModel)]="series.startStreamingDate"
            (focus)="startStreamingDatePicker.open()"
            matInput
            [matDatepicker]="startStreamingDatePicker"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="startStreamingDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #startStreamingDatePicker
            touchUi="true"
          ></mat-datepicker>
        </mat-form-field>

        <div
          class="alert alert-danger"
          style="margin-top: -18px"
          *ngIf="startStreamingDate.touched && startStreamingDate.invalid"
        >
          Start Streaming is required.
        </div>
      </div>

      <div class="form-group mb-3">
        <mat-form-field class="w-100">
          <mat-label>End Streaming Date</mat-label>
          <input
            required
            id="endStreamingDate"
            name="endStreamingDate"
            #endStreamingDate="ngModel"
            [(ngModel)]="series.endStreamingDate"
            (focus)="endStreamingDatePicker.open()"
            matInput
            [matDatepicker]="endStreamingDatePicker"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="endStreamingDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #endStreamingDatePicker
            touchUi="true"
          ></mat-datepicker>
        </mat-form-field>

        <div
          class="alert alert-danger"
          style="margin-top: -18px"
          *ngIf="endStreamingDate.touched && endStreamingDate.invalid"
        >
          End Streaming is required.
        </div>
      </div>

      <div class="form-group mb-2">
        <mat-form-field class="w-100">
          <mat-label>Number Of Episodes</mat-label>

          <input
            required
            #numberOfEpisodes="ngModel"
            [(ngModel)]="series.numberOfEpisodes"
            name="numberOfEpisodes"
            matInput
            type="text"
            id="numberOfEpisodes"
            type="text"
          />
        </mat-form-field>

        <div
          class="alert alert-danger"
          style="margin-top: -18px"
          *ngIf="numberOfEpisodes.touched && numberOfEpisodes.invalid"
        >
          Number Of Episodes is required.
        </div>
      </div>

      <div class="form-group mb-2">
        <mat-form-field class="w-100">
          <mat-label>Phase</mat-label>
          <mat-select
            #phase="ngModel"
            required
            [(ngModel)]="series.phase"
            name="phase"
            id="phase"
          >
            <mat-option
              *ngFor="let phase of phases$ | async"
              [value]="phase.number"
            >
              {{ phase.number }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div
          class="alert alert-danger"
          style="margin-top: -18px"
          *ngIf="phase.touched && phase.invalid"
        >
          Phase is required.
        </div>
      </div>

      <div class="form-group mb-3">
        <mat-form-field class="w-100">
          <mat-label>Average Episode Duration</mat-label>

          <input
            required
            #avgEpisodeDuration="ngModel"
            [(ngModel)]="series.avgEpisodeDuration"
            name="avgEpisodeDuration"
            matInput
            type="text"
            id="avgEpisodeDuration"
            type="text"
          />
          <mat-hint>((HHh) - "If There Is") (MM-(MM))m</mat-hint>
        </mat-form-field>

        <div
          class="alert alert-danger"
          style="margin-top: -18px"
          *ngIf="avgEpisodeDuration.touched && avgEpisodeDuration.invalid"
        >
          Average Episode Duration is required.
        </div>
      </div>

      <div class="form-group mb-2">
        <mat-form-field class="w-100">
          <mat-label>Poster URL</mat-label>

          <input
            required
            url
            #posterUrl="ngModel"
            [(ngModel)]="series.posterUrl"
            name="posterUrl"
            matInput
            type="text"
            id="posterUrl"
            type="text"
          />
        </mat-form-field>

        <div
          class="alert alert-danger"
          style="margin-top: -18px"
          *ngIf="posterUrl.touched && posterUrl.invalid"
        >
          <div *ngIf="posterUrl.errors?.['required']">
            Poster URL is required.
          </div>
          <div *ngIf="posterUrl.errors?.['url']">Please enter a valid URL.</div>
        </div>
      </div>

      <div class="form-group mb-2">
        <mat-form-field class="w-100">
          <mat-label>Age Rating</mat-label>

          <input
            required
            #ageRating="ngModel"
            [(ngModel)]="series.ageRating"
            name="ageRating"
            matInput
            type="text"
            id="ageRating"
            type="text"
          />
        </mat-form-field>

        <div
          class="alert alert-danger"
          style="margin-top: -18px"
          *ngIf="ageRating.touched && ageRating.invalid"
        >
          Age Rating is required.
        </div>
      </div>

      <div class="form-group mb-2">
        <mat-form-field class="w-100">
          <mat-label>Season</mat-label>

          <input
            required
            [(ngModel)]="series.season"
            name="season"
            #season="ngModel"
            matInput
            type="text"
            id="season"
            type="text"
          />
        </mat-form-field>

        <div
          class="alert alert-danger"
          style="margin-top: -18px"
          *ngIf="season.touched && season.invalid"
        >
          Season is required.
        </div>
      </div>

      <div class="d-flex justify-content-sm-between">
        <div class="d-flex gap-3">
          <button [disabled]="!f.valid" class="btn btn-primary">Save</button>
          <button
            type="button"
            routerLink="/admin/series"
            class="btn btn-warning"
          >
            Discard
          </button>
        </div>
        <button
          *ngIf="id"
          style="margin-left: 13px"
          type="button"
          (click)="remove()"
          class="btn btn-danger"
        >
          Delete
        </button>
      </div>
    </form>
  </div>

  <div class="col-md-6 d-flex justify-content-center mb-3">
    <div
      [class.bg-ccc]="
        !series.title && !series.startStreamingDate && !series.posterUrl
      "
      class="card"
      style="width: 22rem; height: 38rem; transition: 200ms"
    >
      <h5
        *ngIf="!series.title && !series.startStreamingDate && !series.posterUrl"
        class="text-center mt-4"
      >
        Preview Text
      </h5>
      <div>
        <img
          *ngIf="series.posterUrl"
          [src]="series.posterUrl"
          class="card-img-top"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ series.title }}</h5>
        <p class="card-text" *ngIf="series.startStreamingDate">
          Original Series Streaming From
          {{ series.startStreamingDate | date : "longDate" }}
          To
          {{ series.endStreamingDate | date : "longDate" }}
        </p>
      </div>
    </div>
  </div>
</div>
