.showcase-img{
    height: 100vh;
    background-image: url(../../../../assets/images/Marvel.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}